$mdc-theme-primary: #b71c1c;
$mdc-theme-secondary: #1b5e20;
$mdc-theme-on-primary: white;
$mdc-theme-on-secondary: white;

@import "@material/button/mdc-button";
@import "@material/button/mdc-button";
@import "@material/chips/mdc-chips";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/fab/mdc-fab";
@import "@material/icon-button/mdc-icon-button";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/ripple/mdc-ripple";
@import "@material/snackbar/mdc-snackbar";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/textfield/mdc-text-field";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
//

// Material Icons
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/material-icons.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

//

// Roboto Fonts
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(fonts/roboto-light.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/roboto-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/roboto-medium.ttf) format('truetype');
}

//

//
body {
    margin: 0;
}

.mdc-fab {
    position: fixed;
    bottom: 20px;
}

#resource-modifiers {
    margin: 0;
    position: fixed;
    display: inline;
    right: 10px;
    bottom: 10px;

    button {
        margin: 0 10px;
        position: relative;
        float: right;
    }
}

#list {
    border-collapse: collapse;
    margin: auto;
    width: 66.67%;

    thead,
    tbody {
        text-align: left;

        tr {

            th,
            td {
                padding: 15px;
                border-width: thin;
                border-color: #212121;
                text-align: center;
                cursor: pointer;
            }

            th {
                color: $mdc-theme-secondary;
            }

        }
    }

    tbody>tr {

        &:hover {
            background-color: lighten($mdc-theme-secondary, 70%);
            color: darken($mdc-theme-on-secondary, 70%);
        }

        &.selected {
            background-color: $mdc-theme-secondary;
            color: $mdc-theme-on-secondary
        }
    }
}

#new-filter {
    padding: 0 10px;
    width: 100%;

    #case-sensitivity_toggle.enabled {
        color: #b71c1c;
    }
}

#auth-form {
    width: 50%;
    margin: auto;

    .mdc-text-field,
    .mdc-button {
        width: 100%;
    }
}

#password-toggler {
    outline: none;
}

mark {
    background-color: #b71c1c;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}